/** Colors scheme **/

$basic-red: red;
$basic-black: #000;
$basic-white: #fff;

$accent-red: #af0000;

/** Layout breakpoints **/
$breakpoint1: 1440px;
$breakpoint2: 1270px;
$breakpoint3: 970px;
$breakpoint4: 768px;
$breakpoint5: 590px;


/** Typography **/

h1 { font-size: 5rem; }
h2 { 
	font-size: 4rem;
	font-weight: 900; 
}
h3 {
	font-size: 2.5rem;
	font-weight: 400; 
}

p { 
	font-size: 1rem;
	line-height: 2;
	&.subline {
		font-size: 1.3rem;
		line-height: initial;
	}
}

/** Basic blocks **/

html, body, header, main, footer {
	width: 100%;
}

html, body {
	font-family: Raleway, sans-serif;
	font-size: 14px;	
}

main {
	overflow: hidden;
}

img {
	max-width: 100%;
}

a, a:hover { 
	color: inherit;
	text-decoration: none;
}


/** modifiers **/
.fh {
	height: 100vh;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.vertical-align_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vertical-align_center-right {
	@extend .vertical-align_center;
	@extend .align-right;
    align-items: flex-end;
}

.vertical-align_center-left {
	@extend .vertical-align_center;
	@extend .align-left;
    align-items: flex-start;
}

.vertical-align_center-center {
    @extend .vertical-align_center;
	@extend .align-center;
	 align-items: center;
}

.dark {
	color: $basic-white;
}



/** miscellaneous major blocks **/

.inner-container {
	width: 1200px;
	margin: 0 auto;
	@media (max-width: 1270px) { 
		& {width: 1000px;}
	}
	@media (max-width: 1070px) { 
		& {width: 900px;}
	}
	@media (max-width: 970px) { 
		& {width: 100%;}
	}
}





ul[class^='menu_'] {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	&.inline {
		flex-direction: row;
	}
	&.list {
		flex-direction: column;
	}
	a {
		color: inherit;
		text-decoration: none;
		font-size: 1.2rem;
	}
}


[class^='offgrid_'] {
	position: absolute;
}

[class^='button_'] {
	border-radius: 40px;
	padding: 10px 50px;
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
	transition: background-color .1s ease-in-out;
	&:hover {
		text-decoration: none;
	}
	*:first-child {
		padding-right: 10px;
	}
}

.button_filled {
	&.red {
		background: $basic-red;
		color: $basic-white;
		&:hover {
			background: $accent-red;
		}
	}
}

.button_outlined {
	&.white {
		background: transparent;
		color: $basic-white;
		border: 3px solid $basic-white;
		&:hover {
			background: $basic-white;
			color: $basic-black;
		}
	}
}

.half-block {
	h2, p { padding-bottom: 30px;}
}


/** dot fixed nav **/

.dot-nav {
	position: fixed;
	top: 0;
	bottom:0;
	right: 50px;
	margin: auto;
	height: 120px;
	@media (max-width: $breakpoint3) { & {display: none;}}
	.menu_dotted {
		li {
			width: 20px;
			height: 20px;
			border-radius: 20px;
			margin: 10px 0;
			border: 4px solid $basic-white;
			&.active {
				background: $basic-white;
			}
		}
		&.dark li {
			border-color: $basic-black;
			&.active {
				background: $basic-black;
			}		
		}
	}
}

/** header section **/
header {
	position: absolute;
	box-sizing: border-box;
	z-index: 7777;
	.header_wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 40px 0;
		@media (max-width: $breakpoint3) { 
			& { 
				flex-wrap: wrap;
				padding: 10px;
			} 
		}

		.header_logo {
			max-width: 30%;
		}
		.header_catchphrase {
			max-width: 20%;
			padding: 40px;
		}
		.header_menu {
			flex-grow: 2;
			.menu_rounded {
				background: $basic-red;
				border-radius: 15px;
				overflow: hidden;
				@media (max-width: $breakpoint3) { & { justify-content: space-between;} }
				@media (max-width: $breakpoint5) { & { justify-content: center;} }
				li {
					color: $basic-white;
					padding: 20px;
					&:hover {
						font-weight: 600;
					}
					&.inline-logo {
						width: 100px;
						background: $basic-black;
						@media (max-width: $breakpoint3) { & { border-radius: 10px;} }			    
					}
				}
			}
		}
		.mobile-menu-toggle {
			position: fixed;
			top: 20px;
			right: 20px;
			cursor: pointer;
			i {
				font-size: 3rem;
			}
			z-index: 9999;
		}
		.mobile-menu {
			position: fixed;
			top: 0;
			display: block;
			width: 100%;
			height: 100%;
			.menu_rounded {
				width: 100%;
				height: 100%;
				border-radius:0px;
				flex-direction: column;
			}
		}
	}
	.offgrid_fb-shortcut {
		top: 120px;
		right: 50px;

	}	
}

/** welcome section **/

.welcome {
	background: url('../../archive/images/background-1.jpg');
	.row:first-child {
		padding-top:200px;
		@media (max-width: $breakpoint3) { & {padding-top: 0;} }
		box-sizing: border-box;
		height: 100%;
		.col {
			text-align: center;
		}
	}
	.offgrid_next-link {
		bottom: 40px;
		left: 0;
		right: 0;
		text-align: center;
	}
	[class^='layer-'] {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.packshot-box {
		position: relative;
		.extras {
			position: absolute;
		}
	}

	.layer-3 {
		width: 1400px;
		.packshot-box {
			flex-grow:1;
		}
		margin: 0 auto;
		transition: transform .2s ease-in-out;
		img {transform: scale(1.4);}
		.layer-2 {
			position: relative;
			z-index: 2222;
			flex-grow:2;
			transition: transform .2s ease-in-out;
			.packshot-box {
				img {transform: scale(1.5);}
			}
			.layer-1 {
				position: relative;
				z-index: 3333;
				max-width: 500px;
				transition: transform .2s ease-in-out;
				.packshot-box {
					img {
						transform: scale(1.5);
					}
				}
				
			}
		}
		&:hover {
			transform: scale(1.01);
			.layer-2 {
				transform: scale(1.03);
				.layer-1 {
					transform: scale(1.06);
				}
			}
		}
	}
	
	@media (max-width: $breakpoint1) { .layer-3 {width: 80%;} }
	@media (max-width: $breakpoint3) { 
		.layer-3 {
			> .packshot-box {
				display: none;
			}
			.layer-2 {
				.packshot-box {
					img {transform: scale(1);}
				}	
			}
			
		} 
	}
	@media (max-width: $breakpoint5) {
		.layer-3 {width: 60%;}
		.layer-2 {
			> .packshot-box {
				display: none;
			}
			.layer-1 {
				.packshot-box {
					img {transform: scale(1);}
				}	
			}
			
		} 
	}

	#first-package {
		transform: rotate(-10deg) translate(70px, 50px);
		.extras {
			top: -30px;
			left: -70px;
			z-index: -1;
			animation-name: animation1;
  			animation-duration: 10s;
  			animation-iteration-count: infinite;
		}
	}
	#second-package {
		transform: rotate(-5deg) translate(-20px, 15px);
		.extras {
			top: 10px;
			left: -250px;
			animation-name: animation2;
  			animation-duration: 10s;
  			animation-iteration-count: infinite;
		}
	}
	#third-package {
		.extras {
			top: 10px;
			left: 20px;
			animation-name: animation3;
  			animation-duration: 10s;
  			animation-iteration-count: infinite;
		}
	}
	#fourth-package {
		transform: rotate(5deg) translate(20px, 10px);
		.extras {
			top: 10px;
			left: 20px;
			animation-name: animation4;
  			animation-duration: 10s;
  			animation-iteration-count: infinite;
		}
	}
	#fifth-package {
		transform: rotate(10deg) translate(-60px, 50px);
		.extras {
			top: 10px;
			left: 20px;
			z-index: -1;
			animation-name: animation5;
  			animation-duration: 10s;
  			animation-iteration-count: infinite;
		}
	}
}

@keyframes animation1 {
	0% { transform: translate(20px, 10px) scale(1.5); }
	50% { transform: translate(40px, 1px) scale(1.5); }
	100% { transform: translate(20px, 10px) scale(1.5); }
}

@keyframes animation2 {
	0% { transform: translate(-20px, 20px) scale(1.5) rotate(-10deg); }
	50% { transform: translate(10px, 1px) scale(1.5) rotate(-5deg); }
	100% { transform: translate(-20px, 20px) scale(1.5) rotate(-10deg); }
}

@keyframes animation3 {
	0% { transform: translate(20px, 10px) scale(1.5) rotate(5deg); }
	50% { transform: translate(20px, 1px) scale(1.5) rotate(15deg); }
	100% { transform: translate(20px, 10px) scale(1.5) rotate(5deg); }
}

@keyframes animation4 {
	0% { transform: translate(20px, 10px) scale(1.5); }
	50% { transform: translate(40px, 1px) scale(1.5); }
	100% { transform: translate(20px, 10px) scale(1.5); }
}

/** video section **/

.video {
	background: $basic-red;
	color: $basic-white;
	.row {
		height: 100%;
		text-align: center;
	}
	video {
		height: 100%;
		width: 100%;
		display:block;
	}
}


/** about section **/

.about {
	img {
		margin-top: 100px;
	}
	@media (max-width: $breakpoint3) {
		._order1 {
			margin-top: 100px;
			order: 1;
		} 
		._order2 {
			order: 2;
			img {
				height: 500px;
			}
		} 
	}
}


/** eye catcher section **/

.eyecatcher {
	background: url('../../archive/images/background-2.jpg');
	background-size: cover;
	.half-block {
		margin: 300px 0 70px 0;
		@media (max-width: $breakpoint2) { & {margin: 200px 0 40px 0;} }
	}
	.col {
		text-align: center;
		padding: 70px;
	}
}


/** products section **/

.products {
	background: $basic-red;
	overflow: hidden;
	.inner-container {
		padding: 150px 0;
		@media (max-width: $breakpoint3) { & {padding: 50px 0;} }
	}
	.packshot img {
		height: 80%;
	}
	.extras {
		position: relative;
		img {
			position:absolute;
		}
		.first {
			top: -120px;
			left: 10%;
		}
		.second {
			top: -40px;
			right: 15%;
			z-index: 6666;
		}
		.third {
			bottom: -120px;
			right: 20%;
			z-index: 6666;
		}
	}
	@media (max-width: $breakpoint3) {
		._order1 {
			order: 1;
			margin: 30px 0;
			img {
				height: 300px;
			}
		} 
		._order2 {
			order: 2;
			
		}
		.extras {
			display: none;
		}
	}
}


ul.nutrients-tags {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		display: inline-block;
		border: 3px solid #fff;
		border-radius: 50px;
		overflow: hidden;
		margin-right: 10px;
		height: 100px;
		p {
			padding: 15px 10px;
			margin: 0;
			text-align: center;
			font-weight: 700;
			font-size: 0.8rem;
			line-height: 1;
			height: 50%;
		}
		p:last-child {
			color: $basic-red;
			background: $basic-white;
			font-weight: 900;
			font-size: 1rem;
		}
		small {
			font-weight: 700;	
		}
	}
}

/** products carousel **/

.carousel-control-prev {
    left: -150px;
}

.carousel-control-next {
    right: -150px;
}

.pointers {
	position: absolute;
	@media (max-width: $breakpoint3) {& {position: relative; top: 40px;}}
	right: 0;
	bottom: initial;
	left: initial;
	list-style: none;
	margin: 0;
	li {
		display: inline-block;
		cursor: pointer;
		height: auto;
		width: auto;
		text-indent: 0;
		border-radius: 5px;
		&.active {
			transform: scale(1.1);
		}
		img {
			width: 60px;
		}
	}
	
}


/** benefits section **/

.benefits {
	background: url('../../archive/images/background-3.jpg');
	.inner-container {
		padding: 100px 0;
		.section-title {
			margin-bottom: 70px;
		}
		.vertical-align_center-right,
		.vertical-align_center-left {
			justify-content: space-around;
			height: 600px;
		}
		.vertical-align_center-center {
			justify-content: space-between;
			height: 700px;
		}
		@media (max-width: $breakpoint3) {
			.vertical-align_center-right,
			.vertical-align_center-left,
			.vertical-align_center-center {
				justify-content: center;
				height: auto;
				flex-direction: row;
				> img {
					display: none;
				}
			}
		}
		
	}
	.icon-box {
		position: relative;
		cursor: pointer;
		img {
			transition: transform .3s ease-in-out;
		}	
		p {	
			margin-top: 15px;
			line-height: 1;
			font-size: 1.2rem;
			transition: transform .3s ease-in-out;
			strong {
				font-size: 1.2em;
			}
		}
		&:hover {
			p { transform: scale(1.2); }
			img { transform: scale(1.2) translate(0, -10px);}
		}
		&::after {
			content: url('../../archive/images/arrow.png');
			position:absolute;
			@media (max-width: $breakpoint2) { & { display: none; } }
		}
		@media (max-width: $breakpoint3) {
			& {
				width: 200px;
				box-sizing: border-box;
				padding: 20px;
			}
		}
	}

	#quality::after {
		top: -70px;
		right: -70px;
		transform: rotate(65deg);
	}

	#extra-dry::after {
		right: -100px;
		top: 5px;
		transform: rotate(120deg);
	}
	#slices::after {
		transform: rotate(180deg);
		left: 60px;
		top: 130px;
	}

	#crunchy {
		transform: translate(35px);
		@media (max-width: $breakpoint3) { & { transform: translate(0px); } }
		&::after {
			transform: rotate(240deg);
			left: -90px;
			top: 120px;
		}
	}

	#dye-free::after {
		transform: rotate(310deg);
		top: -50px;
		left: -130px;
	}

	#natural {
		transform: translate(35px);
		@media (max-width: $breakpoint3) { & { transform: translate(0px); } }
		&::after {
			top: -140px;
			transform: translate(-15px);
		}
	}

	.extras {
		position: relative;
		img {
			position:absolute;
		}
		.first {
			top: -180px;
			left: 40%;
		}
		@media (max-width: $breakpoint3) { & { display: none; } }
	}
	
}

/** fast contact **/

.fast-contact {
	background: $basic-red;
	.inner-container {
		padding: 100px 0;
	}
}


/** footer **/

footer {
	background: $basic-black;
	overflow: hidden;
	.col {
		padding: 30px 0;
	}
	.shrink-col {
		padding: 0 15%;
	}
	.menu_social {
		padding: 100px 0;
		.title {
			font-weight: 700;
			font-size: 1.2rem;
		}
		a:hover {
			text-decoration: underline;;
		}
		@media (max-width: $breakpoint3) { & { flex-wrap: wrap; } }
	}
}

/** Mobile **/


@media (max-width: $breakpoint3) { 
	.row {
		flex-direction: column;
	}
	[class^="col"] {
		width: 100%;
		flex: 0 0 100%;
		align-items: center;
    	max-width: 100%;
    	text-align: center;
	}
}


._hidden {
	display: none;
}


@media (max-width: $breakpoint1) { 
	._breakpoint1_hidden { display: none; }
	._breakpoint1_visible { display: block; }
}

@media (max-width: $breakpoint2) { 
	._breakpoint2_hidden { display: none; }
	._breakpoint2_visible { display: block; }
}

@media (max-width: $breakpoint3) { 
	._breakpoint3_hidden { display: none; }
	._breakpoint3_visible { display: block; }
}

@media (max-width: $breakpoint4) { 
	._breakpoint4_hidden { display: none; }
	._breakpoint4_visible { display: block; }
}

@media (max-width: $breakpoint5) { 
	._breakpoint5_hidden { display: none; }
	._breakpoint5_visible { display: block; }
}



